<a href="https://colab.research.google.com/github/Junaiddali/Data-Science-and-Analytics/blob/main/lab02_20sw066.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Task 1
points = 174

if points <= 50:
    result = "Congratulations! You won a wooden rabbit!"
elif points <= 150:
    result = "Oh dear, no prize this time."
elif points <= 180:
    result = "Congratulations! You won a wafer-thin mint!"
else:
    result = "Congratulations! You won a penguin!"

print(result)

Congratulations! You won a wafer-thin mint!

In [2]:
# Task 2 Guess My Number
answer = 3
guess = 3

if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
    result = "Oops!  Your guess was too high."
elif guess == answer:
    result = "Nice!  Your guess matched the answer!"

print(result)

Nice!  Your guess matched the answer!

In [3]:
# Task 3

state = 'CA'
purchase_amount = 100

if state == 'CA':
    tax_amount = .075
    total_cost = purchase_amount + (purchase_amount * tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN':
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY':
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from CA, your total cost is 107.5.

In [4]:
# Task 4
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

# for loop to print out each word in the sentence list, one word per line

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [5]:
# Task 5
l = [i for i in range(1,31,1) if i%5 == 0]
print(l)

[5, 10, 15, 20, 25, 30]

In [6]:
# Task 6 Extract First Names
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.lower().split()[0] for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [7]:
# Task 7 Multiples of Three
multiples_3 = [x * 3 for x in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [8]:
# Task 8 Filter Names by Scores
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }


passed = [name for name, value in scores.items() if value >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [9]:
# Task 9 Zip Lists to a Dictionary
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [10]:
# Task 10   Use enumerate to modify the cast list so that each element contains the name
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, height in enumerate(heights):
    s = "{} {}".format(cast[index], height)
    cast[index] = s

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']